@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@fortawesome/fontawesome-free/css/all.min.css";

html {
    font-size: 100%;
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}